* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
}

.box_num {
    background-color: aliceblue;
    margin: 100px;
    height: 85vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 4rem;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 50px lightgray;
    border-radius: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

